.body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 20px;
    box-shadow: var(--boxshadow);
    margin: 0 20px;
    align-items: center;
    transform-origin: left top;
    // display: none;
    transition: 500ms linear;
}
.info-box {
    padding: 20px;
}
.list-info-box {
    width: 100%;
    display: flex;
    padding: 20px;
}
.spinWrap {
    width: 100%;
}
.box-container {
    height: 160px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.box-icon {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle {
    float: left;
    height: 70px;
    width: 70px;
    font-size: 30px;
    line-height: 74px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strong {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 20px;
}
