.wrapper {
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: 1170px;
    display: flex;
}
.logo-vntrip {
    height: 38px;
    width: auto;
    margin-left: 20px;
}
.header-list {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    height: 100%;
}
.header-list li {
    list-style: none;
    padding: 0 15px;
}
.header-list-li:hover {
    color: #0d6efd;
}

.btn-login {
    width: 123px;
    color: #fff;
}
.btn-login:hover {
    background-color: #fff;
    color: #0d6efd;
}
.btn-register {
    width: 123px;
    background-color: #fff;
    color: #0d6efd;
}
.flag {
    height: auto;
    width: 25px;
}
.Lang {
    display: flex;
    align-items: center;
    padding: 5px;
}
.Lang span {
    text-align: center;
    padding-left: 10px;
}
.Lang-list {
    display: flex;
    align-items: center;
}
.Lang-list h5 {
    padding-left: 10px;
}
.current-list li {
    padding: 7px;
}
.current-list li:hover {
    background-color: #f5f5f5;
}
.current-list {
    color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 1;
    color: #ff8917;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.headertop-right li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.headertop-right {
    display: flex;
}
.headertop-navbar {
    padding: 0;
}
.container {
    width: 1170px;
}
.Lang-btn {
    border: none;
    background-color: white;
}
.hot-line {
    color: #0d6efd;
    display: flex;
    align-items: center;
}
.topheader-navbar {
    flex-grow: 0;
}
.topheader-navbar span {
    font-size: medium;
    font-weight: 500;
}
.topheader-navbar li {
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-fixed {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 99;
}
.cart-selection {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
// .hot-line-item{
//     display: flex;
//     align-items: center;
// }
@media (max-width: 1034px) {
    .headertop-right {
        display: block;
    }
    .headertop-navbar {
        text-align: center;
    }
    .topheader-navbar-items {
        align-items: center;
    }
    .headertop-dropdown {
        display: contents;
    }
    .hot-line {
        display: contents;
    }
    .container {
        padding-bottom: 10px;
        box-shadow: 5px 10px 8px #888888;
    }
    .headertop-right li {
        margin-bottom: 10px;
    }
    .hot-line-item {
        display: contents;
    }
    .card-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 1170px) {
    .headertop-right {
        display: flex;
    }
}

.text-card {
    opacity: 1;
    background-color: transparent;
    font-weight: 500;
    text-decoration: unset;
    font-size: 14px;
    line-height: 20px;
}
.card {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-around;
    position: relative;
}
.card-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 99;
    top: 100%;
    width: 380px;
    min-height: 400px;
    height: auto;
    background: white;
    border-radius: 20px;
    box-shadow: var(--boxshadow);
    content-visibility: visible;
    overflow: scroll;
}
.overcart {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 98;
}

.cart-hotel-img {
    width: 100%;
    height: auto;
}
.cart-hotel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.inner-right-content-address {
    color: #595959;
    font-weight: 200;
    margin-bottom: 15px;
}
.inner-right-content-address-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.inner-right-content-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 350;
}
.inner-right-content-edit {
    font-size: 15px;
    color: var(--bluesky);
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}
.cart-category-img {
    width: 120px;
    height: 75px;
}
.cart-category-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cart-category {
    display: flex;
}
.cart-category-content {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
.cart-category {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}
.cart-payment {
    display: flex;
    justify-content: center;
}
.cart-payment-btn {
    width: 100%;
    height: 40px;
    background: #0d6efd;
    border-radius: 10px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 724px) {
    .card-hover {
        height: 600px;
    }
}

@media (max-height: 800px) {
    .card-hover {
        height: 450px;
    }
}
