.banking-selection-item {
    display: flex;
    border: 1px solid rgba(205, 208, 209, 1);
    padding: 16px;
    border-radius: 5px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.banking-selection-button {
    background-color: white;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgba(205, 208, 209, 1);
    margin-right: 10px;
    display: inline-block;
    position: relative;
}
.banking-selection-button-dot {
    position: absolute;
    background-color: #1890ff;
    height: 10px;
    width: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}
.banking-selection-item-right img {
    height: 40px;
    position: absolute;
    top: 8px;
    right: 0;
}
@media (max-width: 500px) {
    .banking-selection-title {
        display: none;
    }
    .banking-selection-item-right {
    }
}
