.Submit-footer {
    justify-content: space-around;
}
.Submit-btn {
    width: 50%;
}
.modal-input {
    text-align: center;
    width: 100%;
}
.modal-body-input {
    display: flex;
    justify-content: space-around;
}
