.container {
    padding: 20px;
    box-shadow: var(--boxshadow);
    margin: 0 20px;
    align-items: center;
    transform-origin: left top;
    // display: none;
    transition: 500ms linear;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Image_Container {
    position: relative;
}
.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.addImage {
    height: 200px;
    content-visibility: hidden;
    border: solid;
    border-radius: 20px;
    background-image: url('../../../../asset/addImage.png');
    background-size: contain;
    width: 200px;
}
.Image_Container:hover img {
    opacity: 0.3;
}

.Image_Container:hover .middle {
    opacity: 1;
}
.text {
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.Icon {
    font-size: 30px;
}
.Save_Buton {
    height: 35px;
    width: 200px;
    border-radius: 20px;
    background-color: #04aa6d;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    color: aliceblue;
}

.button {
    height: 32px;
    width: 160px;
    border-radius: 20px;
    background-color: #04aa6d;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 2px;
    color: aliceblue;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
        height: 0;
    }

    100% {
        transform: scaleY(1);
        height: auto;
    }
}
@keyframes growTop {
    0% {
        transform: scaleY(1);
        height: auto;
    }

    100% {
        transform: scaleY(0);
        height: 0;
    }
}
.active-bottom {
    display: flex;
    justify-content: center;
    // animation: growDown 3000ms linear;
    opacity: 1;
    height: auto;
}
.unActive-bottom {
    // animation: growTop 3000ms linear;
    // animation-delay: 500ms;
    opacity: 0;
    padding: 0;
    height: 0;
}
.active {
    display: flex;
    justify-content: center;
    // animation: growDown 3000ms linear;
    transform: translate(0);
    height: auto;
}
.unActive-right {
    // animation: growTop 3000ms linear;
    // animation-delay: 500ms;
    transform: translate(2000px);
    padding: 0;
    height: 0;
}
.unActive-left {
    // animation: growTop 3000ms linear;
    // animation-delay: 500ms;
    transform: translate(-2000px);
    padding: 0;
    height: 0;
}
.Menu {
    width: 80%;
    height: 36px;
    background-color: #496d93e0;
    font-weight: 600;
    letter-spacing: 2px;
    color: aliceblue;
    padding: 0 30px;
    font-size: 24px;
    transition: 300ms;
    transform-origin: top;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
