.hotelItem {
    display: flex;
    height: 200px;
    max-height: 200px;
    padding: 0 10px 0 10px;
    position: relative;
}
.mobile-click {
    z-index: -1000;
}
.hotelItem__img {
    height: 100%;
    object-fit: cover;
}
.hotelItem__img > img {
    width: calc(100%);
    height: 100%;
    object-fit: cover;
}
@media (max-width: 724px) {
    .hotelItem__img {
        width: 35%;
        padding: 0;
    }
    .hotelItem__img > img {
        width: 100%;
        padding: 0;
    }
    .hotelItem_mobile {
        width: 65%;
    }
    .hotelItem {
        padding: 0;
    }
    .listHotel__item {
        box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
        position: relative;
    }
    .mobile-click {
        z-index: 1000;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}
