.container {
    width: 860px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.body {
    width: 100%;
    display: flex;
    justify-content: center;
}
.Booking {
    display: flex;
    background: white;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
    max-height: 200px;
}
.Booking_Img {
    width: 200px;
    height: 200px;
}
.Booking_Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Booking_Content {
    width: calc(100% - 200px);
    display: flex;
    padding: 10px;
}
.Booking_Content_left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Booking_Content_right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Booking_Content_right_money {
    font-size: 18px;
    font-weight: 400;
    color: var(--bluesky);
}
.row {
    display: flex;
    width: 100%;
}
.row_left {
    width: 30%;
}
.row_right {
    width: 70%;
}

@media (max-width: 860px) {
    .Booking {
        display: flex;
        flex-direction: column;
        max-width: 460px;
        align-items: center;
        max-height: 100%;
    }
    .Booking_Img {
        width: 100%;
        height: 200px;
    }
    .Booking_Img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .Booking_Content {
        display: flex;
        flex-direction: column;
    }
    .Booking_Content {
        width: calc(100%);
    }
    .Booking_Content_left {
        width: 100%;
    }
    .Booking_Content_right {
        width: 100%;
    }
    .row_left {
        width: 50%;
    }
    .row_right {
        width: 50%;
    }
    .row {
        line-height: 24px;
    }
}
