.body {
    width: 1040px;
    min-height: 420px;
    background: #fffcfc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left: 70px;
    position: relative;
    margin: 20px 0;
    opacity: 1;
    transition: 300ms;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 15px 0;
    width: 970px;
    border-bottom: solid 1px #aaadb7;
    align-items: center;
    padding-right: 70px;
}
.editRoom-btn {
    height: 36px;
    width: 160px;
    border-radius: 10px;
    background: orange;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
}
.deleteRoom-btn {
    height: 36px;
    width: 160px;
    border-radius: 10px;
    background: #d72c36;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
}
.title-right {
    display: flex;
}
.container {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 70px);
}
.close-Icon {
    position: absolute;
    top: 20px;
    right: 25px;
}
.roomDetailContent-one {
    width: calc(100% - 720px);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
}
.roomDetailContent-two {
    width: 240px;
    height: 300px;
    border-left: 1px solid #aaadb7;
    overflow: auto;
}
.roomDetailContent-three {
    width: 240px;
    height: 300px;
    border-left: 1px solid #aaadb7;
    overflow: auto;
}
.roomDetailContent-four {
    width: 240px;
    height: 300px;
    border-left: 1px solid #aaadb7;
    overflow: auto;
}
.content_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.item-title {
    width: 100%;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaadb7;
}
.customer-list {
    display: flex;
    padding: 5px;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
}
.customer-index {
    width: 20px;
}
.customer-name {
    width: 120px;
}
.customer-number {
    width: 90px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
