.body {
    width: 1040px;
    min-height: 420px;
    background: #fffcfc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-left: 70px;
    position: relative;
    margin: 20px 0;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 15px 0;
    width: 900px;
    border-bottom: solid 1px #aaadb7;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 70px);
}
.right {
    width: 240px;
    border-left: 1px solid #aaadb7;
    margin: 10px 0;
    height: calc(100% - 20px);
    padding: 20px;
}

.left {
    width: calc(100% - 240px);
    padding-right: 20px;
}
.Floor {
    display: flex;
    border-bottom: 1px solid #aaadb7;
    min-height: 60px;
    max-height: 65px;
    align-items: center;
    width: 710px;
    overflow: auto;
}

.Floor::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.Floor::-webkit-scrollbar-corner {
    width: 5px;
}
/* Track */
.Floor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.Floor::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.Floor::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.Floor_title {
    padding-right: 30px;
    width: 160px;
    overflow: hidden;
}
.Room_Item {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}
.searchRoom {
    width: 196px;
    border-radius: 10px;
    height: 32px;
    padding: 0 10px;
}
.searchBox {
    position: relative;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 5px;
}
.FilterRoom {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}
.FilterRoom li {
    list-style: disc;
    padding: 5px 0;
    margin-left: 20px;
}
.FilterRoom_item {
    display: flex;
    justify-content: space-between;
}
.divider {
    margin: 0;
}
.SortRoom {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
}
.btnSortFloor {
    width: 90px;
    height: 30px;
    background: #67badd;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-Sort {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.btnSortCategory {
    width: 90px;
    height: 30px;
    background: #1fab3e;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.title-right {
    display: flex;
}
.addRoom-btn {
    height: 36px;
    width: 120px;
    border-radius: 10px;
    background: green;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
}
.editRoom-btn {
    height: 36px;
    width: 120px;
    border-radius: 10px;
    background: orange;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    cursor: pointer;
}
.addNewRoom {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}
.FloorInput {
    width: 40px;
}
.SelectCategory {
    width: 199px;
}
.btn-add {
    padding: 5px 20px;
    background: orange;
    width: 100px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.btn-add-save {
    padding: 5px 20px;
    background: #1fab3e;
    width: 80px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.btn-add-cancel {
    padding: 5px 20px;
    background: red;
    width: 80px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.ActiveAdd {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}
.close-Icon {
    position: absolute;
    top: 20px;
    right: 25px;
}
