.SlideBar {
    position: fixed;
    height: 100%;
    width: 235px;
    background: #3a3f51;
    z-index: 1;
    top: 60px;
}
.SliderBar_Person {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.SliderBar_Avatar {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    margin: 2px;
}
.SliderBar_Person {
    color: #aaadb7;
}
.SliderBar_Border_Avatar {
    border: 3px #aaadb7 solid;
    border-radius: 75px;
}

.SliderBar_Person_Name {
    color: #aaadb7;
    letter-spacing: 1px;
    font-size: x-large;
    font-weight: 600;
}
.SliderBar_Person_Role {
    font-size: small;
}
.SliderBar_Person_Select {
    width: 100%;
    justify-content: space-around;
    display: flex;
    padding: 10px;
}
.SliderBar_Person_Select i {
    cursor: pointer;
    font-size: 18px;
}
.SliderBar_Person_Select i:hover {
    color: #fff;
}
.SlideBar_Item {
    display: flex;
    padding: 10px 15px;
    align-items: flex-start;
    color: #aaadb7;
    flex-direction: column;
}
.SlideBar_Item_Title {
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 10px;
}
.SlideBar_Item:hover {
    background: #273244;
    cursor: pointer;
    color: #fff;
}
.SlideBar_Main_Item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 10px 0;
}

.Selected {
    background: #273244;
    color: #fff;
}
.SlideBar_Sub_Item {
    display: flex;
    padding: 10px;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
    color: #aaadb7;
}
.SlideBar_Sub_Item:hover {
    color: #fff;
}
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
@media (max-width: 600px) {
    .SlideBar {
        position: fixed;
    }
    .unactive {
        animation: sliderRighttoLeft 300ms ease-in-out forwards;
    }
    .active {
        animation: sliderLefttoRight 500ms ease-in-out;
    }
}

@keyframes sliderLefttoRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes sliderRighttoLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
